build
compile_messages
init
i18n
*~
*.mo
i18n/pot
*.orig
opengisch_rsa
opengisch_rsa.pub
*.pyc
*.DS_Store
.idea
.env
Pipfile
# The pipfile will have the exact python version and breaks builds on other systems
Pipfile.lock
