# Project information
site_name: QField Ecosystem Documentation
site_url: https://docs.qfield.org/
site_author: OPENGIS.ch
site_description: >-
  This site contains documentation of products that belong to the QField ecosystem: QField itself, the app for having QGIS at your fingertips, QFieldCloud which allows online synchronization of data, and QFieldSync which allows QGIS to communicate with QFieldCloud.
docs_dir: documentation  # because of a bug in transifex-client the repo dir name cannot contain the doc dir name (e.g. qfield-docs and docs)

# Repository
repo_name: opengisch/qfield
repo_url: https://github.com/opengisch/qfield
edit_uri: https://github.com/opengisch/qfield-docs/tree/master/documentation/

# Copyright
copyright: Copyright &copy; 2021 <a href="https://OPENGIS.ch">OPENGIS.ch</a>

# Configuration
theme:
  name: material
  custom_dir: theme_overrides/
  features:
    - navigation.tabs
    # - navigation.instant # Not compatible with i18n plugin
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
  logo: assets/images/qfield_logo.svg
  favicon: assets/images/favicon.ico
  palette:
    - scheme: default
      primary: green
      toggle:
        icon: octicons/moon-24
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: octicons/sun-24
        name: Switch to light mode

# Page tree
nav:
  - Home: index.md
  - Get started:
      - get-started/index.md
      - get-started/installation.md
      - get-started/support.md
      - get-started/sponsor.md
      - get-started/license.md
      - get-started/development.md
      - get-started/third-part-tutorials.md
      - QFieldCloud:
          - get-started/qfieldcloud/get-started.md
          - get-started/qfieldcloud/advanced-setup.md
  - How-to guides:
      - how-to/index.md
      - how-to/projects.md
      - how-to/pictures.md
      - how-to/gnss.md
      - how-to/digitize.md
      - how-to/print-to-pdf.md
      - how-to/search.md
      - how-to/tracking.md
      - how-to/variables.md
      - how-to/map-interaction.md
      - how-to/basemaps.md
      - how-to/map-styling.md
      - how-to/map-themes.md
      - how-to/attributes-form.md
      - how-to/authentication.md
      - how-to/itinerary.md
      - how-to/hiding-legend-nodes.md
      - how-to/live_default_value.md
      - how-to/outside-layers.md
      - how-to/movable-project.md
  - Technical reference:
      - reference/index.md
      - reference/data-format.md
      - QFieldCloud:
          - reference/qfieldcloud/permissions.md
          - reference/qfieldcloud/swagger.md
  - Case studies:
      - case-studies/index.md
      - case-studies/ecological-surveying.md
      - case-studies/geologic-mapping.md
      - case-studies/lulc-mapping-fiji.md
      - case-studies/mapping-breeding-birds-in-the-Wadden-Sea.md
      - case-studies/mosquito-malario-ground-truth-data-collection.md
      - case-studies/river-state-survey.md
      - case-studies/rwanda-rural-water.md
      - case-studies/vanilla-survey.md
      - case-studies/heritage-impact-assessment.md
# Extensions
markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.details
  - def_list
  - attr_list
  - pymdownx.inlinehilite
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.keys
  - pymdownx.tabbed
  - fancyboxmd
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      permalink: true

# Css
extra_css:
  - stylesheets/extra.css
  - stylesheets/jquery.fancybox.min.css
  - stylesheets/swagger-ui.css

# Extra javascript
extra_javascript:
  - javascript/jquery.min.js
  - javascript/jquery.fancybox.min.js
  - javascript/swagger-ui-bundle.js
  - javascript/swagger-ui-standalone-preset.js

extra:
  # Remove "Made with Material for MkDocs" from footer
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/opengisch
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/opengisch
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/opengisch/
    - icon: fontawesome/solid/paper-plane
      link: mailto:info@opengis.ch
plugins:
  - mkdocs-video
  - search
  - i18n:
      default_language: en
      default_language_only: !ENV [DEFAULT_LANGUAGE_ONLY, true]
      languages:
        en: English
        de: German
        fr: French
        it: Italian
        rm: Romansh
        ja: Japanese
        gl: Galician
        pt: Portuguese
        es: Spanish
        hu: Hungarian
        zh: Chinese
        fi: Finnish
        ro: Romanian
        tr: Turkish
        uk: Ukranian
        nl: Dutch
        bg: Bulgarian
        cs: Czech
        fa: Persian
        pt_BR: Protuguese (Brazil)
        et: Estonian
        pl: Polish
        he: Hebrew
        sl: Slovenian
        lt: Lithuanian
        ar: Arabic
        ca: Catalan
        hr: Croatian
        id: Indonesian
        rw: Kinyarwanda
        ru: Russian
        ru_UA: Russian (Ukraine)
        vi: Vietnamese
