# Project information
site_url: https://docs.qfield.org/
site_author: OPENGIS.ch
docs_dir: documentation  # because of a bug in transifex-client the repo dir name cannot contain the doc dir name (e.g. qfield-docs and docs)

# Repository
repo_name: opengisch/qfield-docs
repo_url: https://github.com/opengisch/qfield-docs
# edit_uri: https://github.com/opengisch/qfield-docs/tree/master/documentation/
edit_uri_template: 'blob/master/documentation/{path}'

# Copyright
copyright: Copyright &copy; 2023 <a href="https://OPENGIS.ch">OPENGIS.ch</a> -  <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC-BY-SA 4.0</a>

# Configuration
theme:
  name: material
  custom_dir: theme_overrides/
  features:
    - navigation.tabs
    # - navigation.instant # Not compatible with i18n plugin
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
  logo: assets/images/qfield_logo_white.svg
  favicon: assets/images/favicon.ico
  palette:
    - scheme: default
      primary: light green
      toggle:
        icon: octicons/moon-24
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: octicons/sun-24
        name: Switch to light mode

# Page tree
nav:
  - Home: index.md
  - Get started:
      - get-started/index.md
      - get-started/concepts.md
      - get-started/storage.md
      - Tutorials:
          - QFieldCloud:
              - get-started/tutorials/get-started-qfc.md
              - get-started/tutorials/advanced-setup-qfc.md
          - QFieldSync:
              - get-started/tutorials/get-started-qfs.md
      - get-started/faq.md
      - get-started/sample-projects.md
      - get-started/support.md
      - get-started/sponsor.md
      - get-started/license.md
      - get-started/contribute.md
      - get-started/third-part-tutorials.md
  - How-to guides:
      - how-to/index.md
      - how-to/projects.md
      - how-to/map-interaction.md
      - how-to/measuring-tool.md
      - how-to/digitize.md
      - how-to/attributes-form.md
      - how-to/pictures.md
      - how-to/search.md
      - how-to/standalone-datasets.md
      - how-to/map-styling.md
      - how-to/map-themes.md
      - how-to/gnss.md
      - how-to/navigation.md
      - how-to/tracking.md
      - how-to/sensors.md
      - how-to/bookmarks.md
      - how-to/print-to-pdf.md
      - how-to/authentication.md
      - how-to/temporal-filtering.md
      - how-to/variables.md
      - how-to/hiding-legend-nodes.md
      - how-to/live-default-value.md
      - how-to/outside-layers.md
      - how-to/movable-project.md
      - how-to/pg-service.md
  - Technical reference:
      - reference/index.md
      - reference/data-format.md
      - QFieldCloud:
          - reference/qfieldcloud/concepts.md
          - reference/qfieldcloud/projects.md
          - reference/qfieldcloud/permissions.md
          - reference/qfieldcloud/jobs.md
          - reference/qfieldcloud/secrets.md
          - reference/qfieldcloud/specs.md
          - reference/qfieldcloud/api.md
          - reference/qfieldcloud/system.md
          - reference/qfieldcloud/sdk.md
  - Success stories:
      - success-stories/index.md
      - success-stories/ecological-surveying.md
      - success-stories/geologic-mapping.md
      - success-stories/lulc-mapping-fiji.md
      - success-stories/mapping-breeding-birds-in-the-Wadden-Sea.md
      - success-stories/mosquito-malario-ground-truth-data-collection.md
      - success-stories/river-state-survey.md
      - success-stories/rwanda-rural-water.md
      - success-stories/vanilla-survey.md
      - success-stories/heritage-impact-assessment.md
# Extensions
markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.details
  - def_list
  - attr_list
  - pymdownx.inlinehilite
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
  - fancyboxmd
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      permalink: true

# Css
extra_css:
  - stylesheets/extra.css
  - stylesheets/jquery.fancybox.min.css
  - stylesheets/swagger-ui.css

# Extra javascript
extra_javascript:
  - javascript/jquery.min.js
  - javascript/jquery.fancybox.min.js
  - javascript/swagger-ui-bundle.js
  - javascript/swagger-ui-standalone-preset.js

extra:
  # Remove "Made with Material for MkDocs" from footer
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/opengisch
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/opengisch
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/opengisch/
    - icon: fontawesome/solid/paper-plane
      link: mailto:info@opengis.ch
plugins:
  - mkdocs-video
  - search
  - social:
      # See https://squidfunk.github.io/mkdocs-material/setup/setting-up-social-cards/
      cards_color:
        fill: "#72ad2e"
        text: "#FFFFFF"
  - i18n:
      default_language: en
      default_language_only: !ENV [DEFAULT_LANGUAGE_ONLY, true]
      # FIX ME: Add autodetection to translation rates so that only languages
      # with >30% translations are built. See https://www.transifex.com/opengisch/qfield-documentation/dashboard/
      languages:
        en:
          name: English
          site_name: QField Ecosystem Documentation
          site_description: >-
            Welcome to the QField ecosystem documentation - a suite of products designed to make fieldwork seamless and efficient. In this pages we provide comprehensive and easy-to-understand documentation for all of our products. Whether you're a new user or an experienced pro, you'll find everything you need to know about using QField and its related tools.
        de:
          name: Deutsch
          site_name: QField Ökosystem Dokumentation
        fr:
          name: Français
          site_name: Documentation de l'écosystème QField
          site_description: >-
            Bienvenue sur la documentation de l'écosystème QField - une suite logicielle pour rendre le travail de terrain simple et rapide. Vous trouverez ici une documentation complète et facile à prendre en main pour tous nos produits. Utilisateur débutant ou confirmé, vous trouverez tout ce dont vous avez besoin pour utiliser QField et les outils associés.
        it:
          name: Italiano
          site_name: Documentazione dell'ecosistema QField
          site_description: # ADD ME LOCALIZED
        # rm: Romansh
        ja:
          name: 日本語
          site_name: QFieldエコシステムドキュメント
          site_description: # ADD ME LOCALIZED
        # gl: Galician
        pt:
          name: Portuguese
          site_name: QField Ecosystem Documentation # TRANSLATE ME
          site_description: # ADD ME LOCALIZED
        es:
          name: Español
          site_name: QField Ecosystem Documentation # TRANSLATE ME
          site_description: # ADD ME LOCALIZED
        # hu: Hungarian
        zh:
          name: 简体中文
          site_name: QField Ecosystem Documentation # TRANSLATE ME
          site_description: # ADD ME LOCALIZED
        fi:
          name: Finnish
          site_name: QField Ecosystem Documentation # TRANSLATE ME
          site_description: # ADD ME LOCALIZED
        ro:
          name: Romanian
          site_name: QField Ecosystem Documentation # TRANSLATE ME
          site_description: # ADD ME LOCALIZED
        # tr: Turkish
        # uk: Ukranian
        # nl: Dutch
        # bg: Bulgarian
        # cs: Czech
        # fa: Persian
        # pt_BR: Protuguese (Brazil)
        # et: Estonian
        # pl: Polish
        # he: Hebrew
        # sl: Slovenian
        # lt: Lithuanian
        # ar: Arabic
        # ca: Catalan
        # hr: Croatian
        # id: Indonesian
        # rw: Kinyarwanda
        # ru: Russian
        # ru_UA: Russian (Ukraine)
        # vi: Vietnamese
      nav_translations:
        de:
          Home: Startseite
          Get started: Erste Schritte
          How-to guides: Tutorial
          Technical reference: Technische Referenz
          Success stories: Erfolgsgeschichten
        fr:
          Home: Accueil
          Get started: Mise en route
          How-to guides: Tutoriels
          Technical reference: Référence technique
          Success stories: Témoignages de projets
        it:
          Home: Pagina iniziale
          Get started: Guida introduttiva
          How-to guides: Tutorial
          Technical reference: Riferimento tecnico
          Success stories: Storie di successo
        es:
          Home: Inicio
          Get started: Primeros pasos
          How-to guides: Tutorial
          Technical reference: Referencia técnica
          Success stories: Historias de éxito
        zh:
          Home: 首页
          Get started: 基础入门
          How-to guides: 操作指南
          Technical reference: 技术参考
          Success stories: 成功案例
        pt:
          Home: Início
          Get started: Primeiros passos
          How-to guides: Guias de instruções
          Technical reference: Referência técnica
          Success stories: Histórias de sucesso
        ja:
          Home: ホーム
          Get started: スタート・ガイド
          How-to guides: チュートリアル
          Technical reference: 参考資料
          Success stories: ケーススタディ
