{% extends "main.html" %} {% block tabs %} {{ super() }}
<style>
  .md-header {
    position: initial;
  }
</style>
<section class="tx-container">
  <div class="md-grid md-typeset">
    <div class="tx-hero">
      <div class="tx-hero__content">
        <h1>{{ config.site_name }}</h1>

        <p>
          Welcome to the documentation of QField, the app that maps the
          world, and QFieldCloud, its cloud companion for teams. Collect
          and edit geospatial data in the field, online or offline, and
          keep your QGIS projects in sync.
        </p>
        <a
          href="{{ page.next_page.url | url }}"
          title="{{ page.next_page.title | e }}"
          class="md-button md-button--primary"
        >
          Quick start
        </a>
        <a
          href="{{ 'get-started/help/' | url }}"
          title="Get support"
          class="md-button"
        >
          Get support
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block content %}{{ super() }}{% endblock %} {% block footer %}{% endblock
%}
