name: gh-pages

on:
  push:
    branches:
      - transifex_stuff
      # FIXME: restore
      - master
  # schedule:
  #   - cron: '30 1 * * *'
  # workflow_dispatch:

permissions:
  contents: write

jobs:
  translations:
    runs-on: ubuntu-latest
    if: (github.event_name == 'schedule' && github.repository == 'opengisch/QField-docs') || (github.event_name != 'schedule')
    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python requirements
        run: pip install -r requirements.txt

      - name: Install Python requirements insiders
        run: pip install -r requirements-insiders.txt
        env:
          MKDOCS_INSIDERS_TOKEN: ${{ secrets.MKDOCS_INSIDERS_TOKEN }}

      - name: Install Transifex client
        run: |
          curl -OL https://github.com/transifex/cli/releases/download/v1.3.1/tx-linux-amd64.tar.gz
          tar -xvzf tx-linux-amd64.tar.gz

      - name: Configure Transifex
        run: |
          python ./utils/transifex_utils.py
        env:
          TX_TOKEN: ${{ secrets.TX_TOKEN }}

      - name: Push source files to Transifex
        run: |
          ./tx push --source --all
        env:
          TX_TOKEN: ${{ secrets.TX_TOKEN }}

      - name: Pull translations from Transifex
        run: |
          ./tx pull --translations --all --minimum-perc 10
          ./tx status
        env:
          TX_TOKEN: ${{ secrets.TX_TOKEN }}

      - name: Build documentation
        run: mkdocs build
        env:
          DEFAULT_LANGUAGE_ONLY: false

      # - name: Deploy to GitHub Pages
      #   uses: JamesIves/github-pages-deploy-action@v4.2.2
      #   with:
      #       branch: gh-pages
      #       clean: true
      #       folder: site
