name: lint-and-test

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0

  test-simple-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install Python requirements
        run: pip install -r requirements.txt

      - name: Build documentation
        run: mkdocs build
        env:
          DEFAULT_LANGUAGE_ONLY: true

  test-insiders-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install Python requirements
        run: pip install -r requirements.txt

      - name: Install Python requirements insiders
        run: pip install -r requirements-insiders.txt
        env:
          MKDOCS_INSIDERS_TOKEN: ${{ secrets.MKDOCS_INSIDERS_TOKEN }}

      - name: Build documentation
        run: mkdocs build
        env:
          DEFAULT_LANGUAGE_ONLY: true
